<div class="container">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink routerLink="login">login</a>
        </li>
        <li ngbNavItem>
          <a ngbNavLink routerLink="registration">sing up</a>
        </li>
        <li ngbNavItem>
            <a ngbNavLink routerLink="movie">movie</a>
        </li>
        <li ngbNavItem>
          <a ngbNavLink routerLink="add-movie">add movie</a>
        </li>
        <li ngbNavItem>
          <a ngbNavLink routerLink="categroy">Categroy</a>
        </li>
      </ul>
</div>