

 <form #select="ngForm" >
      <div class="mb-3">
        <label for="exampleInputname1" class="form-label">search by name for movie</label>
        <input type="name" class="form-control" required ngModel #name="ngModel" placeholder="search by name"
        name="name" minlength="6">
      </div>

      <div>
        <div>if you want to select categroy </div>  <!-- (ngModelChange) -->
        <select (change)="submitForm(select.value.categroy)" ngModel #categroy="ngModel"  name="categroy"  class="form-select" aria-label="Default select example">
            <option [ngValue]="null" selected>Open this select menu</option>
            <option *ngFor="let c of allCategroy " [ngValue]="c.id">{{c.name}}</option>
        </select>
    </div><br/>
</form>
<div *ngIf="data.length > 1" class="continar justify-content-between flex-wrap flex-row sm-2 md-3 lg-3">
    <div   *ngFor="let item of data |  appFilter: select.value.name"  >
    <div  class="card card-movie" style="width: 18rem;">
      <div class="img-card">
        <img [ngStyle]="{'width': '100%','height':'100%'}" src="https://test-api.storexweb.com/{{item.image}}" class="card-img-top" alt="...">
      </div>
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.description}}</p>
          <a (click)="goToUpdate(item.id)" class="btn btn-primary">update </a>
          <a (click)="deleteMovie(item.id)" class="btn btn-primary">delete</a>
        </div>
      </div>
    </div>
</div>
<div *ngIf="!data">
    loding...   
</div>